# Carpetas de datos y archivos prohibidos
Base_Datos/
Base_Conocimiento/
*.pdf
*.docx
*.xlsx
*.pptx
*.jpg
*.zip
*.doc
*.txt
venv/
.venv/

# EXCEPCIÓN: Permitir el archivo de dependencias
!requirements.txt